@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: "Nunito", sans-serif;
}

.category a img:hover{
    opacity: .7;
}

.logo img{
    height: 50px;
 }
 
 nav{
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 9px;
 }
 
li{
     display:inline;
 }
 
li a{
     display: inline-block;
     padding: 12px 30px;
     text-decoration: none;
     color:black;
     font-size: 18px;
     font-weight: 200;
}
 
li a:hover{
     font-weight: 900;
}  
 
.dropdown-content{
     display:none;
     position:absolute;
     background-color: rgb(255, 255, 255);
     min-width: 190px;
     z-index: 2;
}
 
.dropdown:hover .dropdown-content{
     display: block;
}
 
.dropdown{
     display: inline-block;
}
 
.dropdown a{
     display: block;
}
 
.dropdown-content a:hover{
     color:rgb(21, 255, 130);
}
 
.navbtn{
     background-color: rgb(21, 255, 130);
     border-radius: 14px;
     font-size: 18px;
     padding: 4px 12px;
     border: 1px solid white;
     cursor: pointer;
     color: white;
}
 
.navbtn:hover{
     background-color: white;
     color: black;
     border: 1px solid black;
     transition: .5s;
}


.mainpic img{
    width:100%;
}

.mainpic{
    position: relative;
    text-align: center;
    color: rgb(21, 255, 130);
    font-size: 36px;
    font-weight: bold;
}

.maintitle{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.picbtn{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 14px;
    font-size: 18px;
    padding: 4px 12px;
    border: 1px solid white;
    cursor: pointer;
    margin-left: 20px;
    color: black;
}

.picbtn a{
    text-decoration: none;
    color: black;
}

.picbtn:hover, .picbtn a:hover{
    background-color: rgb(21, 255, 130);
    border: 1px solid rgb(21, 255, 130);
    color: #ffffff;
}

.category img{
    width: 100%;
    height: auto;
}

.title{
    padding: 5px 5px;
    text-align: center;
    font-style: italic;
    font-weight: 800;
}

.gallery{
    padding: 5px 10px;
    float: left;
    width: 24.9%;
}

.bigcontainer{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.firstcontainer{
    padding: 4px;
    width: 60%;
}

.firstcontainer img{
    width: 100%;
    object-fit: fill;
}

.secondcontainer{
    padding: 4px;
    width: 34%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.secondcontainer img{
    padding: 0 4px 6px 4px;
    width: 50%;
    object-fit: fill;
}

@media only screen and (min-width:768px) and (max-width:1023px){
    .mainpic{
        font-size: 27px;
    }

    .gallery{
        width: 49.9%;
    }
    
    .bigcontainer{
        flex-direction: column;
    }

    .firstcontainer{
        padding: 8.5px;
        width:100%;
    }

    .secondcontainer{
        width:100%;
    }
}

@media only screen and (max-width:767px){
     li{
         display:block;
    }

    .navbtn{
        color: rgb(21, 255, 130);
        border:none;
        background-color: #ffffff;
        padding: 0px;
    }

    .navbtn:hover{
        background-color: white;
        color: black;
        border: none;
    }

    .mainpic{
        font-size: 18px;
    }
    
    .mainpic img{
        position:relative;
        right:100px;
        width:200%;
    }

    .gallery{
        width: 100%;
    }

    .bigcontainer{
        flex-direction: column;
    }

    .firstcontainer{
        padding: 8.5px;
        width:100%;
    }

    .secondcontainer{
        flex-direction: column;
        width:100%;
    }
    
    .secondcontainer img{
        width:100%;
    }

}