@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: "Nunito", sans-serif;
}


@media only screen and (min-width:1024px){
    .logo img{
        height: 50px;
     }
     
     nav{
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding: 9px;
     }
     
     li{
         display:inline;
     }
     
     li a{
         display: inline-block;
         padding: 14px 30px;
         text-decoration: none;
         color:black;
         font-size: 18px;
     }
     
     li a:hover{
         font-weight: 900;
     }  
     
     .dropdown-content{
         display:none;
         position:absolute;
         background-color: rgb(255, 255, 255);
         min-width: 190px;
         z-index: 2;
     }
     
     .dropdown:hover .dropdown-content{
         display: block;
     }
     
     .dropdown{
         display: inline-block;
     }
     
     .dropdown a{
         display: block;
     }
     
     .dropdown-content a:hover{
         color:rgb(21, 255, 130);
     }
     
     button{
         background-color: rgb(21, 255, 130);
         border-radius: 14px;
         font-size: 18px;
         padding: 4px 12px;
         border: 1px solid white;
         cursor: pointer;
         color: white;
         margin-left: 20px;
     }
     
     button:hover{
         background-color: white;
         color: black;
         border: 1px solid black;
         transition: .5s;
     }
    
     .cover{
        position: relative;
    }
    
    .cover img{
        width:100%;
    }
    
    .cover figcaption{
        position: absolute;
        bottom: 48%;
        left:26%;
        z-index: 1;
        font-size: 50px;
        color: rgb(21, 255, 130);
        font-weight: 900;
    }
}

@media only screen and (min-width:768px) and (max-width:1023px){
    .logo img{
        height: 50px;
     }
     
     nav{
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding: 9px;
     }
     
     li{
         display:inline;
     }
     
     li a{
         display: inline-block;
         padding: 14px 30px;
         text-decoration: none;
         color:black;
         font-size: 18px;
     }
     
     li a:hover{
         font-weight: 900;
     }  
     
     .dropdown-content{
         display:none;
         position:absolute;
         background-color: rgb(237, 237, 237);
         min-width: 190px;
         z-index: 2;
     }
     
     .dropdown:hover .dropdown-content{
         display: block;
     }
     
     .dropdown{
         display: inline-block;
     }
     
     .dropdown a{
         display: block;
     }
     
     .dropdown-content a:hover{
         color: rgb(21, 255, 130);
     }
     
     button{
         background-color: rgb(21, 255, 130);
         border-radius: 14px;
         font-size: 18px;
         padding: 4px 12px;
         border: 1px solid white;
         cursor: pointer;
         color: white;
         margin-left: 20px;
     }
     
     button:hover{
         background-color: white;
         color: black;
         border: 1px solid black;
         transition: .5s;
     }

     .cover{
        position: relative;
    }
    
    .cover img{
        width:100%;
    }
    
    .cover figcaption{
        position: absolute;
        bottom: 48%;
        left:26%;
        z-index: 1;
        font-size: 40px;
        color: rgb(21, 255, 130);
        font-weight: 900;
    }
}

@media only screen and (max-width:767px){
    .logo img{
        height: 50px;
     }
     
     nav{
         display: flex;
         align-items: center;
         justify-content:space-evenly;
         padding: 9px;
     }
     
     li{
         display:block;
     }
     
     li a{
         display: inline-block;
         padding: 14px 30px;
         text-decoration: none;
         color:black;
         font-size: 18px;
         align-items: center;
     }
     
     li a:hover{
         font-weight: 900;
     }  
     
     .dropdown-content{
         display:none;
         position:absolute;
         background-color: rgb(237, 237, 237);
         min-width: 190px;
         z-index: 2;
     }
     
     .dropdown:hover .dropdown-content{
         display: block;
     }
     
     .dropdown{
         display: inline-block;
     }
     
     .dropdown a{
         display: block;
     }
     
     .dropdown-content a:hover{
         color: rgb(21, 255, 130);
     }
     
     button{
         background-color: rgb(21, 255, 130);
         border-radius: 14px;
         font-size: 18px;
         padding: 4px 3px;
         border: 1px solid white;
         cursor: pointer;
         color: white;
     }
     
     button:hover{
         background-color: white;
         color: black;
         border: 1px solid black;
         transition: .5s;
     }
     
     .cover{
        position: relative;
    }
    
    .cover img{
        width:100%;
    }
    
    .cover figcaption{
        position: absolute;
        bottom: 48%;
        left:26%;
        z-index: 1;
        font-size: 25px;
        color: rgb(21, 255, 130);
        font-weight: 900;
    }
}